/*
	Author: Lawson Faith Lee
	Date: 3/18/2023
	File Name: styles.css
*/

/* Style rules for all viewports */
/* CSS Reset */
body, header, nav, main, footer, figcaption{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: block;
	background-color: #0090C1;	
}

* {
	box-sizing: border-box;
}

/* formatting for header, footer and navs that will be on all pages*/

header {
	color: #fff;
	display: flex;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: bold;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: #046E8F;
}

/* all nav */
nav,.mobile-nav, .td-nav {
	width: 100%;
	background-color: #046E8F;
	color: #fff;
	position: fixed;
	top:0;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

/* mobile nav exclusive */

.mobile-nav ul{
	padding-bottom: 2%;
	background-color: #046E8F;
}

#menu-links {
	margin-top: 3em;
}

.mobile-nav a.menu-icon div{
	display: block;
	position: absolute;
	right: 2vw;
	top: 0;
	font-size: 1.75em;
	color:#fff;
}

.mobile-nav{
	height: 15vh;
}

nav li {
	width: 90%;
	height: auto;
	font-size: 1.5em;
	border-top: 1px solid white;
}

nav ul li:last-child  {
	border-bottom: 1px solid white;
}

nav li a, nav .menu-links li  {
	display: block;
	color: #fff;
	background-color: #183446;
	padding: 2%;
	margin: 2% 2%;
	text-decoration: none;
	font-family: 'PT Sans Narrow', sans-serif;
}

main {
	margin-top: 15vh;
}

section {
	color: #022F40;
}

.blocker, #footBlock{
	width: 100%;
	background-color: #0090C1;
}



.footBlock {
	width: auto;
	height: 11vh;
	background-color: #0090C1;
}

.toe {
	background-color:#fff;
	height: 5%;
	width: 17.5vw;
}
/* formating for footer */

footer {
	height: 10vh;
	background-color: #046E8F;
	font-size: 0.5em;
	color: #fff;
	font-family: 'PT Sans Caption', sans-serif;
	position: fixed;
	bottom: 0vh;
	width: 100%;
}

footer p {
	font-size: 2em;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 1%;
	text-align: center;
	height: 3vh;
}

#footsie {
	display: flex;
	height: 7vh;
	align-items: center;
	width: 100%;
}

#linkbox-box {
	display: flex;
	margin: 0 auto;
}



#footsie a {
	font-size: 2em;
	font-family: 'PT Sans Narrow', sans-serif;
	
	text-align: left;
}

.bluefoot {
	border-top: 1px solid #046E8F;
}

.linkbox {
	width: auto;
	height: auto;
	display: flex;
}

#linkedinA {
	padding-right: 0;
	width: auto;
	height: auto;
	text-align: left;
}

.linkedinI {
	height: auto;
	width: auto;
	float: left;
}

#footsie div a img{
	color: #fff;
}

#headshotA {
	height: auto;
	width: 20%;
	padding: 1%;
	border-radius: 50%;
	background-color: #183446;
}

a {
	color: #fff;
    text-decoration: none;
}

a:active {
	color: #c4f2ff;
	border: 1px solid #c4f2ff;
}
/* formating different pages */

/* index/home page */
/* certifications */
.cert-proj-section {
	padding-top: 5%;
	text-align: center;
}

.cert-proj-section figure{
	align-items: center;
}

.cert-proj-section figure h1 {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1em;
}

.cert-proj-section figure figcaption {
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background-color: #183446;
	font-size: .8em;
	padding: 2%;
	border: 5px double #fff;
}

.cert-proj-section figure figcaption p{
	text-align: center;
	
}
.cert-proj-section figure figcaption a{
	font-family: 'PT Sans Narrow', serif;
	
}

.cert-proj-section figure .cps-image-box{
	width: 65vw;
	height: auto;
	margin: auto;
}

.certification, .project{
	width: 100%;
	height: 100%;
}

/* contact */
#contact {
	margin-top: 22vh;
	margin-bottom: 12vh;
	text-align: center;
	justify-content: center;
}

.contact-block {
	background-color: #183446;
	height: 20vh;
	margin: 2.5%;
	border: 10px double #fff;
}

.contact-block h2 {
	color: #fff;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1.25em;
}

.contact-block h3 {
	color: #fff;
	font-family: 'PT Sans', sans-serif;
}

.contact-block h3 a{
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
}

/* experience */
.job-exp {
	text-align: center;
	padding-top: 1vh;
}


.job-exp h2 {
	font-size:1em;
	font-family: 'PT Sans Caption', sans-serif;
	background-color: #fff;
	margin-top:0;
}

.job-exp h1 {
	font-family: 'PT Sans Caption', sans-serif;
	margin-bottom:0;
	background-color: #E3E3E3;
}

.job-exp ul {
	list-style-type: none;
	padding: 4%;
}

.job-exp ul li {
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	margin: auto;
	padding: 1%;
}

.job-exp ul li:nth-child(even) {
	background-color: #fff;
}

.job-exp ul li:nth-child(odd) {
	background-color: #E3E3E3;
}

.job-exp:last-of-type{
	margin-bottom: 10vh;
}

.job-exp figure {
	width: 80vw;
	margin: auto;
	padding: 2.5%;
	
}

.job-exp figure img{
	width: 70vw;
	margin: auto;
}

.job-exp figure figcaption {
	font-family: 'PT Sans', sans-serif;
	background-color: #E3E3E3;
	width: 70vw;
	margin: 0 auto;
	padding: 5%;
}

#cLib {
	width: 60vw;
	height: 50vh;
}

.reference-box {
	background-color:#183446;
	color: #fff;
	padding: 3%;
	border: 10px double #fff;
}

.reference-box h1 {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1.5em;
	border-bottom: 10px double #fff;
	padding-bottom: 2%;
	background-color: #183446;
}

.reference-box .ref-info{
	display: flex;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
}

.reference-box .ref-info .ref-info-text{
	display: block;
	color: #fff;
	font-family: 'PT Sans', sans-serif;
	margin: auto;
}

/* Style rules for index */

#index-main {
	padding-top: 2vh;
}

#index-main h1 {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
}

#about-me {
	font-family: 'PT Sans', sans-serif;
}

#education-block {
	background-color: #183446;
	color: #fff;
	border: 10px double #fff;
	margin: 2%;
	
}

#education-block h1 {
	border-bottom: 10px double #fff;
	font-size: .75em;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 0 auto;
	padding: 2%;
	width: 80%;
}

#education-block h2 {
	border-bottom: 5px solid #fff;
	font-size: .75em;
	margin: 0 auto;
	padding: 1%;
	font-family:'PT Sans Narrow';
	width: 70%;
}

#education-block p {
	font-size: 1em;
	font-family: 'PT Sans', sans-serif;
}
/* index skill section*/
#skill-list {
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
}

#skill-list ul {
	list-style-type: none;
	padding: 4%;
	margin-bottom: 12vh;
}

#skill-list ul li {
	width: 100%;
	margin: 0 auto;
	padding: 2%;
}

#skill-list ul li h1{
	font-size: .5em;
	text-align: left;
}

#skill-list ul li:nth-child(odd) {
	background-color: #fff;
}

#skill-list ul li:nth-child(even) {
	background-color: #E3E3E3;
}

.skill-box {
	height: 2vh;
	background-color: #fff;
	border-radius: 20px;
	width: 98%;
}

.skill {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-color: #04C7DC;
}

#it-skill {
	width: 46%;
}

#javascript-skill {
	width: 70%;
}

#css-skill {
	width: 75%;
}

#python-skill {
	width: 35%;
}

#html-skill {
	width: 78%;
}

#microsoft-suite-skill {
	width: 53%;
}

#responsive-web-design {
	width: 88%;
}

.tan {
	background-color: #E3E3E3;
}



/* Show mobile class, hide tablet-desktop class*/
.mobile {
	display: block;
}

.tablet-desktop, #menu-links, .lapper{
	display: none;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/*Tablet Viewport:Show tablet-desktop class, hide mobile class */
		.tablet-desktop {
			display: block;
		}
		
		.mobile {
			display: none;
		}
		
		main {
			margin-top: 12vh;
			margin-bottom: 10vh;
		}
		
		/* update nav for tablet-desktop*/
		nav {
			flex-direction: row;
			position: fixed;
			top: 1vh;
			width: 100%;
		}
		
		nav ul {
			display: flex;
			align-items: center;
		}
		
		nav li {
			width: 12%;
			flex: 0 1 auto;
			font-size: 1em;
			border-top: none;
		}
		
		nav li p {
			font-size: 1.5em;
		}
		
		nav ul li:last-child {
			border-bottom: none;
		}
		
		nav li a, nav li img {
			background-color: #183446;
			padding: 6%;
			margin: 2% 2%;
			text-decoration: none;
			
		}
		
		#name {
			width: 18%;
			background-color: #183446;
			font-family: 'Rokkit', serif;
			color: #fff;
			font-size: .6em;
			font-weight: bold;
		}
		
		#spacer {
			width: 6%;
		}
		
		#headshotB {
			height: 10vh;
			margin: 0;
			padding: 5%;
			border-radius: 50%;
		}
		/* footer*/
		#footBlock {
			height: 5vh;
		}
		
		footer{
			height: 12vh;
		}
		footer span a img{
			height: 4vh;
			width: 4vh;
		}
		
		footer p {
			font-size: 1.75em;
			height: 1.5vh;
		}
		
		footer span a {
			font-size: 2em;
		}
		
		#linkedinI {
			height: 3vh;
			width: 3vh;
			padding-right: 4vh;
		}

		footer span div a img{
			height: 3vh;
			width: 3vh;
		}
		
		.toe {
			background-color:#fff;
			height: 5%;
			width: 40vw;
		}

		.blocker {
			height: 0;
		}
		/* certification and project overlap */
		.cert-proj-section {
			padding-top: 3%;
		}
		.cert-proj-section figure .cps-image-box{
			width: 60vw;
		}

		.certification, .project{
			width: 100%;
			height: 100%;
		}
		
		.cert-proj-section figure h1 {
			font-size: 1.5em;
			margin: 0;
			padding: 5%;
		}

		.cert-proj-section figure figcaption {
			font-size: 1.2em;
		}
		
		/* contact */

		#contact {
			margin-top: 22vh;
			margin-bottom: 14vh;
		}
		
		.contact-block {
			height: 20vh;
			margin: 3%;
		}
		
		.contact-block h2 {
			font-size: 1.5em;
		}
		.contact-block h3 {
			color: #fff;
			font-family: 'PT Sans', sans-serif;
			font-size: 1.5em;
		}
		/* experience */
		.job-exp h1 {
			font-size: 2em;
			width:85vw;
			border-bottom: 10px double #E3E3E3;
			margin-right: auto;
			margin-left: auto;
			background-color: #0090C1;
		}
		
		.job-exp h2 {
			font-size: 1.5em;
		}
		
		.job-exp ul li {
			font-size: 1.5em;
		}
		
		.job-exp figure figcaption {
			font-size: 1em;
		}
		
		.reference-box h1 {
			background-color: #183446;
			border-bottom: 10px double #fff
		}
		
		.ref-info img {
			height: 40vh;
			padding: 2vh 2vh 0 5vh;
		}
		
		.ref-info-text {
			font-size: 1.75em;
		}
		
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
	.lapper {
		display: block;
	}
	
	nav li p {
		font-size: 1em;
	}
	
	nav li {
		font-size: 1.35em;
	}
	
	#name {
		font-size: 1.2em;
	}
	
	#spacer {
		width: 4%;
	}
	
	footer span a {
		font-size: 2.5em;
	}
	
	/* certifications and projects */
	.cert-proj-section {
		display: flex;
		flex-direction: row;
	}
	
	.cert-proj-section figure h1{
		height: 12vh;
		font-size: 1.75em;
		padding: 6%;
	}	
	
	#longCerth1 {
		font-size: 1.25em;
		padding: 5%;
	}
	
	.blocker {
		width: 0;
	}
	
	.cert-proj-section figure {
		height: auto;
		width: 48vw;
		margin: auto;
	}
	
	.cert-proj-section figure .cps-image-box{
		width: 46vw;
	}
	
	.cert-proj-section figure figcaption {
		height: 20vh;
		font-size: 1.5em;
		width: 45.5vw;
		margin: 0 auto;
		text-align: center;
		padding: 1%;
	}
	
	.cert-proj-section figure figcaption p{
		line-height: 1.5;
		display: inline-block;
		vertical-align: middle;
	}
	
	.cert-proj-section figure .longFigcap{
		font-size: 1.25em;
	}
	
	/* contact */
	#contact {
		display: flex;
		justify-content: center;
		align-items: center;
	}
		
	.contact-block {
		height: 60vh;
		width: 30vw;
		flex-direction: row;
		margin: auto;
		text-align: center;
	}
	
	.contact-block h2 img{
		max-height: 4vh;
		max-width: 4vh;
	}	
	
	.contact-block h2 {
		font-size: 1.75em;
	}
	
	.contact-block .lapConIcon {
		width: 15vw;
		height: 15vw;
		color: #fff;
		margin: auto;
	}
	
	
	/* experience */
	.not-ref-block{
		display: flex;
	}
	
	
	
	.job-exp ul {
		list-style-type: none;
		padding: 4%;
		width: 49vw;
	}
	
	.job-exp ul li{
		font-size: 2em;
	}
	
	.job-exp figure, .job-exp ul, .job-exp figure figcaption, .job-exp h2 {
		width: 50vw;
	}
	
	#cLib, .job-exp figure img, .job-exp h2, .job-exp figure figcaption{
		width: 40vw;
	}
	
	.not-ref-block {
		justify-content:center;
		align-items: center;
	}
	
	.job-exp h2{
		width: 45vw;
		margin: auto;
	}
	
	


}

/* Media Query for Large Desktop Viewport */
@media screen and (min-width: 1921px){
	nav li {
		font-size: 2.5em;
	}
	
	nav li img {
		height: 100%;
	}
	
	#name {
		font-size: 2em;
	}
	
	#linkedinI {
		height: 2.5vh;
		width: 2.5vh;
		padding-right: 4vh;
	}

	footer span div a img {
		height: 3vh;
		width: 3vh;
	}
	
	footer p {
		font-size: 5em;
	}
	
	footer span a {
		font-size: 5em;
	}
	
	#linkbox {
		width: 40vw;
	}
	
	.toe {
		background-color:#fff;
		height: 5%;
		width: 20vw;
	}
	
	nav li img {
		height: 100%;
	}
	
	figure img {
		width: 38vh;
		height: auto;
	}
	
	/* certifications and projects*/
	
	.cert-proj-section figure h1{
		font-size: 5em;
	}	
	.cert-proj-section figure {
		margin: auto;
		width: 35vw;
		height: auto;
	}
	
	.cert-proj-section figure .cps-image-box{
		width: 32vw;
	}
	
	#longCerth1 {
		font-size: 4em;
	}
	
	.cert-proj-section figure figcaption {
		font-size: 4.5em;
	}
	
	.cert-proj-section figure .longFigcap{
		font-size: 4em;
	}
	
	#longCerth1 {
		font-size: 1.5em;
		padding: 5%;
	}
}

/* Media Query for Print */
@media print {
	
}